* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background: url(./img/image\ header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 160px;
}
nav {
  padding-top: 26px;
}
nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: gray;
}

nav::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: gray;
}

.list {
  display: flex;
  padding-top: 17px;
  /* padding-bottom: 10px; */
  justify-content: center;
}

.list_item {
  padding-left: 50px;
}

.list_item a {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.list_item_Active {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-left: 50px;
}

.logo {
  text-align: end;
}

.fa-solid {
  font-size: 25px;
  padding: 18px;
  color: #ffffff;
  border: none;
}

.NFTs {
  font-weight: 600;
  font-size: 46px;
  text-align: center;
  color: #ffffff;
  padding-top: 170px;
}

.Own {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 40px;
}

.Latest {
  width: 236px;
  height: 49px;
  left: 602px;
  top: 384px;
  background: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
  border-radius: 46px;
  color: #ffffff;
}

section {
  background: #1e1e37;
}

.sectiontext {
  padding-top: 90px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.card1 {
  padding-bottom: 25px;
  text-align: center;
  color: #ffffff;
  background: radial-gradient(
      2464.13% 850.69% at 100% 6.65%,
      #33034f 0%,
      #636dc1 19.3%,
      #1d0f35 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;
}

.card1 img {
  width: 215px;
  height: 225px;
  padding: 15px 0 15px 0;
}
.card-title1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 68px;
}

.card-title12 {
  width: 215px;
  margin: auto;
  padding-bottom: 9px;
}

.menu {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.section2 {
  padding-top: 70px;
  padding-bottom: 160px;
}

.sectioncard1 {
  display: flex;
  justify-content: space-between;
}
.sectioncard2 {
  padding-top: 30px;
  display: flex;
}

.btn-light {
  background: #ffffff;
  border-radius: 37px;
  padding: 14px 46px;
  color: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
}

footer {
  background: #09010d;
  padding-bottom: 100px;
}

.Enter {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding-top: 52px;
  padding-bottom: 20px;
}

.form-control_Youremail {
  width: 410px;
  padding: 16px 246px 16px 46px;
  border: 0.5px solid #d0d0d0;
  border-radius: 48px;
  margin-bottom: 60px;
  background: transparent;
}

.position {
  position: relative;
  padding-bottom: 18px;
}

.vector {
  margin-right: -40px;
}

.vectortele {
  margin-right: -40px;
  margin-bottom: 0px;
  margin-left: -50px;
}

.footercard {
  color: #ffffff;
  text-align: start;
}

hr {
  padding-top: 9px;
  padding-bottom: 16px;
  color: #d0d0d0;
}

.footerli {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 25px;
}

.footertext {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

/* 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */

.header_discover {
  background: #1e1e37;
  padding-bottom: 50px;
}

.soction01::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: gray;
}

.browse {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.browsetext {
  color: #ffffff;
}

.ul_li {
  display: flex;
  align-items: center;
}

.ul_li a {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.sort {
  color: #ffffff;
  margin: 0;
}

.select_by {
  display: flex;
  justify-content: space-around;
  padding-bottom: 36px;
}

.form-select {
  margin: 0;
  width: 206px;
  height: 42px;
  border: 0.5px solid #ffffff;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  margin-top: -7px;
}

option {
  color: #09010d;
}

.img_menu {
  text-align: end;
}

.section3_discover {
  padding-bottom: 160px;
}

li a:hover {
  padding: 8px 16px;
  background: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
  border-radius: 23px;
  color: #ffffff;
  transition: 500ms;
}

/* 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */

.card_m img {
  width: 302px;
  height: 252px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.card_m {
  padding-bottom: 25px;
  text-align: center;
  color: #ffffff;
  background: radial-gradient(
      2464.13% 850.69% at 100% 6.65%,
      #33034f 0%,
      #636dc1 19.3%,
      #1d0f35 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;
}

.section3_marketplace {
  padding-bottom: 160px;
}

/* 
@media (max-width: 1199px) {
  
}
@media (max-width: 991px) {
 
}
@media (max-width: 767px) {
 
} */

@media (max-width: 575px) {
  .NFTs {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
  }
  .Own {
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 12px;
  }
  .Latest {
    width: 107px;
    height: 31px;
    font-size: 12px;
    /* left: 547px; */
    /* top: 384px; */
    background: linear-gradient(90deg, #5d00fa 0%, #d70bca 100%);
    border-radius: 46px;
    color: #ffffff;
  }
  .sectiontext {
    padding-top: 32px;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 19px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
  }
  .card1 {
    margin-bottom: 19px;
    padding-bottom: 26px;
    text-align: center;
    color: #ffffff;
    background: radial-gradient( 2464.13% 850.69% at 100% 6.65%, #33034f 0%, #636dc1 19.3%, #1d0f35 100% ) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
}
header {
    background: url(./img/image\ header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 63px;
}
}
